In [1]:
# import packages
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import plotly.express as px
import os
import glob

## Read input

In [13]:
allB = pd.read_excel('FINAL_tables/FINAL_all_bins_all_clusters.xlsx')
allW = allB[['sample','recovered_genome','final_genomes']]
allW.head()

   sample           recovered_genome          final_genomes
0  V00H9L      V00H9L_vamb.216248.fa  V00H9L_vamb.216248.fa
1  VEZUDR      VEZUDR_vamb.198244.fa  V00H9L_vamb.216248.fa
2  VF9LPS       VF9LPS_maxbin.061.fa  V00H9L_vamb.216248.fa
3  VFK4IA  VFK4IA_vamb.287384_sub.fa  V00H9L_vamb.216248.fa
4  VI72RB       VI72RB_maxbin.021.fa  V00H9L_vamb.216248.fa

## Check unknown taxa

In [36]:
bst = pd.read_excel('FINAL_tables/FINAL_only_the_best_genomes_with_2nd_cluster_with_taxa_with_binsNmb_m.xlsx')
new = bst.dropna(subset=['GTDBv214_taxa_notes'])
new['GTDBv214_taxa_notes'].value_counts()

unknown_sp        333
unknown_genus      25
unknown_family      1
Name: GTDBv214_taxa_notes, dtype: int64

In [45]:
new['genus'].value_counts().head(10)

Collinsella     29
CAG-873          8
UBA1740          7
UBA1259          7
Borkfalkia       7
Zag111           7
Alistipes        6
SIG427           6
Stercorousia     6
UBA7173          5
Name: genus, dtype: int64

## All bins input

In [14]:
bst = pd.read_excel('FINAL_tables/FINAL_only_the_best_genomes_with_2nd_cluster_with_taxa_with_binsNmb_m.xlsx')
bst = bst[['sample_name','genus','best_cluster_genome']]
bst['cluster'] = bst['genus']+'-'+bst['best_cluster_genome']

#bst_m = bst_m[['sample_name','cluster']]
bst_m = bst.drop_duplicates()
bst_m.head()

  sample_name     genus    best_cluster_genome                         cluster
0      VLB6XN      14-2       VLB6XN_256644.fa           14-2-VLB6XN_256644.fa
1      VDFRDM      14-2   VDFRDM_metabat.13.fa       14-2-VDFRDM_metabat.13.fa
2      V46NG6  1XD42-69  V46NG6_metabat.195.fa  1XD42-69-V46NG6_metabat.195.fa
3      VUXZVX    43-108   VUXZVX_metabat.11.fa     43-108-VUXZVX_metabat.11.fa
4      VQQ90U     51-20   VQQ90U_vamb.11929.fa      51-20-VQQ90U_vamb.11929.fa

In [22]:
# make matrix with a genus name
#allW = allW.merge(bst_m, how='left', left_on='final_genomes', right_on='best_cluster_genome')
allW = allW[['sample','cluster','genus']]
allW = allW.drop_duplicates()
matrix = allW.pivot(index='cluster', columns='sample', values='genus')
matrix.to_excel('FINAL_tables/matrix_names.xlsx')

   sample                         cluster     genus
0  V00H9L  UBA10281-V00H9L_vamb.216248.fa  UBA10281
1  VEZUDR  UBA10281-V00H9L_vamb.216248.fa  UBA10281
2  VF9LPS  UBA10281-V00H9L_vamb.216248.fa  UBA10281
3  VFK4IA  UBA10281-V00H9L_vamb.216248.fa  UBA10281
4  VI72RB  UBA10281-V00H9L_vamb.216248.fa  UBA10281

In [26]:
# make matrix with a 1 & 0
allW['genus'] = 1
matrix = allW.pivot(index='cluster', columns='sample', values='genus')
matrix = matrix.fillna(0)
matrix.to_excel('FINAL_tables/matrix_1_0.xlsx')